*{
    margin: 0;
    padding: 0;
}
button {
    padding: 1em;
}
header{
    position: absolute;
    text-align: center;
    width: 100%;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
section > div {
    display: grid;
    grid-template-areas: "display display display"
    "numbers numbers operators";
}

.display {
    height: 2em;
    grid-area: display;
    border: 0.5px solid black;
    background-color: white;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: numbers;
}

.numbers :last-child {
    grid-column: span 3;;
}

.operators {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    grid-area: operators;   
}
